.box-shadow {
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.selected__box__style {
    border-left: 4px solid rgba(92, 206, 4, 0.3);
    border-radius: 2px;
}

.texting-styling {
    padding: 5px 20px;
    font-weight: bold;
}

.remove__link__deco,
.remove__link__deco:hover {
    color: inherit;
    text-decoration: none;
}

.inner-div-style {
    border: 1px solid yellow;
    padding: 6px 0;
    font-size: 1.1rem;
}
