.form-view > label {
  padding: 0px 0px 10px;
}

#add-items__form {
  text-align: left;
  margin-top: 2rem;
}

.form-view {
  display: flex;
  flex-direction: row;
  padding: 5% 0;
}
.form-view__add-video{
  display: flex;
  flex-direction: column;
  padding: 5% 0;
}


.form-view__item-view {
  flex: 1;
  margin-top: 3em;
}
.form-view__item-video{
  margin: 3em;
  flex: 1;
}
.form-view__categories-list{
  display: flex;
  width: 20%;
  flex-direction: column;
}

.form-view__categories-list > ul{
  display: flex;
  flex-direction: column;
  border-right: 0.5px solid rgba(0, 0, 0, 0.2);
}
.form-view__categories-list__add-video > ul{
  flex-direction: row;
  align-items: center;
  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  flex-wrap: wrap
}
.form-view__categories-list__add-video{
  width: 80%;
}
.hide{
  display: none;
}
.form-view__categories-list > h2 {
  /* text-align: left; */
  font-size: 1rem;
  margin: 0;
  /* padding-left: 1.8em; */
  margin-bottom: 1em;
}

h2 {
  font-size: 0.8em;
  text-align: center;
}

.add-items__form-view{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0 25%;
}

.add-items__form-view > label {
  margin-top: 1rem;
  padding-left: 10%;
}

label span {
  display: inline-block;
  margin-right: 1rem;
  width: 7em;
  font-size: 0.8rem;
}
.video__card-text span{
  letter-spacing: .2;
  /* padding: 0.2em; */
}
.Date{
  font-size: 0.7em;
  color: #1a3501c6;
  letter-spacing: 0.3;
}
.Actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.video-icon{
  padding: 0.4em 2em;
  cursor: pointer;
}

.icon-bin, .icon-pencil{
  width: 1em;
  height: 1em;
  fill: #E84641;
  bottom: 0;
  right: 0;
}
.icon-file-empty{
  fill: rgba(0, 0, 0, 0.231);
}
.icon-pencil{
  fill: #468908;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  fill: rgba(0, 0, 0, 0.21);
}
.Name{
  font-size: 0.9em;
  letter-spacing: .1px;
}

.form-view__categories-list-item{
  font-size: 0.8em;
  text-align: left;
  padding: 1.2em 2em;
  font-weight: bold;
  cursor: pointer;
  text-transform: lowercase;
}
.form-view__categories-list-item:first-letter{
  text-transform: uppercase;
}

iframe{
  border: none;
  /* border-radius: 0.5rem; */
}

input[type=submit], input[type=submit], input[type=reset] {
  background-color: #468908;
  border: none;
  color: white;
  padding: 10px 26px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  width: 20%;
  margin-top: 1.5rem;
  align-self: center;
  transform: translateX(-100%)
}

input[type=text], textarea[type=text] {
  border: 2px solid #468908bd;
  border-radius: 4px;
  padding: 8px 5px;
}

.hide{
  display: none;
}
.show{
  margin: auto;
}
.video__list{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 3%;
}

.video__card {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0, 0, 0, 0.088);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.ytp-title-text, .ytp-title-channel-logo, .ytp-overflow-icon {
  display: none;
}
button.ytp-large-play-button {
  display: none;
}

button.ytp-large-play-button svg { 
      display: none;
}
.video__card-text{
  width: 90%;
  padding: 0.4em 0.8em;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.form-view__item-video ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.parent-holder{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.total_view > ul{
  border: none;
}
.total_view{
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  .video__card{
    width: 100%;
    margin-bottom: 1rem;
  }
  .video__list{
      flex-direction: column;
  }
  .form-view {
    display: flex;
    flex-direction: column;
    padding: 5% 0;
  }

  .form-view__categories-list > ul{
    display: flex;
    flex-direction: row;
    border: 0;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    margin: 0;
    overflow-y: scroll;
  }
  .form-view__categories-list h2{
    padding: 1em;
    font-size: 0.6rem;
    font-weight: bold;
  }
  .form-view__categories-list{
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
  .form-view__item-view {
    margin: 0;
    padding: 0;
  }
  .form-view__categories-list > h2 {
    margin: 0;
  }
  .form-view__categories-list-item{
    font-size: 0.5em;
    text-align: left;
    padding: 0.6em 1em;
    font-weight: bold;
    cursor: pointer;
  }
  span{
    font-size: 0.5em;
  }
  .video ul{
    margin: 0;
  }
  .video__card span{
    font-size: 0.6em;
  }
  /* .video__card-text span{
    padding: 0.2em;
  } */
  .video__card-text{
    padding: 0.4em 0.8em;
  }
  .add-items__form-view{
    margin: 0 5%;
  }
  input[type=submit]{
    padding: 0.5em 1.2em;
    font-size: 0.8rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(0)
  }

  label span {
    width: auto;
  }
  .view-holder__list-item span {
    font-size: 1rem;
  }
  .view-holder__list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 80%;
  }
  .form-view__item-video ul{
    flex-direction: column;
  }
  .video__list{
    width: 90%;
    margin: auto;
  }
  iframe{
    border: none;
    /* border-radius: 0.5rem; */
    width: 100%;
  }
}