.national-colors {
    padding: 0.5em;
    background-color: #E84641;
    display: block;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(231, 223, 66);
}

.national-colors::before {
    content: '';
    background: #468908;
    width: 12rem;
    padding: 2em;
    position: absolute;
    left: 0em;
    top: 0;
}

.national-colors::after {
    content: '';
    background: #ECDF00;
    width: 12rem;
    padding: 2em;
    position: absolute;
    right: 0;
    top: 0;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}

.logo {
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo__ministry,
.logo__republic {
    font-size: 1rem;
    font-weight: bold;
    width: 10%;
    color: #353535;
}

.App-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .4rem;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #468908;
    color: white;
}

.App-header > h5 {
    cursor: pointer;
    font-size: 1em;
    margin: 0;
}

@media only screen and (max-width: 900px) {
    /* For mobile phones: */
    .logo__republic,
    .logo__ministry{
        font-size: 0.8rem;
        text-align: center;
        width: 100%;
    }
    .logo{
        flex-direction: column;
    }
    .national-colors > span{
        font-size: 0.5em;
    }
    .App-header {
        font-size: 0.8rem;
    }
    .App-header > h5 {
        font-size: 0.8rem;
    }
    .national-colors::before,
    .national-colors::after {
        width: 8rem;
        padding: 1.25em;
    }
  }