.tab-color {
    background-color: #e5e5e5;
}

.hover__cursor__style{
    cursor: pointer;
}

.single-tab-hover:hover {
    background-color: rgba(159, 255, 86, 0.054);
}

.second-tab{
    border: 2px solid  rgba(106, 172, 56, 0.5);
    border-right: none;
    /* background-color: rgba(61, 61, 61, 0.03); */
    border-radius:.2rem;
    position: relative;
}
.second-tab__active {
    background-color: white;
    border: none;
    border-top: 5px solid rgb(92, 206, 4);
    border-left: 2px solid  rgba(106, 172, 56, 0.5);
    margin-top: -3px;
}
.second-tab-row{
    margin-top: 0.5rem;
}
.icon-circle-down{
    width: 1em;
    height: 1em;
    bottom: 0;
    right: 0;
  }
.Main-holder_nav__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.Main-holder_nav__link {
    text-decoration: none;
    text-transform: uppercase;
}

.Main-holder__nav__link--button {
    /* padding: .25em 10rem; */
    flex-grow: 1;
    flex-shrink: 1;
    cursor: pointer;
    padding: 1em 0;
    font-weight: bold;
    color: black;
}

.class-nav__item{
    font-size: 1rem;
    line-height: 1.8rem;
    padding: 0.8rem 2rem !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
}

.video-body{
    background-color: rgba(0, 0, 0, 0.03);
    flex: 1;
}

.nav-item-system__row{
    margin-bottom: 2rem;
}
.nav-item-system{
    position: relative;
}
.nav-item-system__active::before {
    content: '';
    background: #96e072;
    height: 0.3rem;
    width: 25%;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    border-radius: 1rem;
}

.active {
    background-color: rgba(92, 206, 4, 0.3);
}

.category-active {
    border-left: 5px solid rgba(40, 90, 2, 0.564);
    outline: none;
}

.Main-holder_nav__item {
    width: 50%;
    display: flex;
    margin: 0.09rem 0.03rem;
    background-color: #ffffff;
}
.Main-holder_nav {
    background-color: rgba(0, 0, 0, 0.05);
}
.container{
    max-width: inherit;
    padding-right: 15px;
    padding-left: 15px;
}
.main-body-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    flex-wrap: wrap;
}

.main-body-menu{
    width: 18rem;
    background-color: white;
}
.nav-toggle{
    display: none;
}
.nav-toggle-hide{
    display: none;
}
.nav-toggle-show{
    display: flex;
}
.sub_cat {
    position: absolute;
    flex-direction: column;
    align-items: baseline;
    width: 80%;
    transform: translateY(25%);
    background: white;
    border: 2px solid rgb(92, 206, 4);
    z-index: 9999;
}
.sub_cat::before{
    content: '';
    width: 0; 
    height: 5px; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-bottom: 5px solid rgb(92, 206, 4);
    transform: translateY(-100%);
}
.sub_cat__item{
    padding: 5%;
    cursor: pointer;
    width: 100%;
}
.sub-cat__sub-name{
    font-size: 0.7rem;
    align-items: center;
    justify-content: center;
}
.educ-name{
    display: block;
    width: 100%;
}

.timetable-button{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    z-index: 999;
    color: #E84641;
}

.icon-calendar, .icon-arrow-left2{
    width: 1.8em;
    height: 1.8em;
    fill: #E84641;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .Main-holder__nav__link--button {
        font-size: 0.8rem;
    }
    .Main-holder_nav__item {
        margin: 0.06rem 0.01rem;
    }
    /* For mobile phones: */
    .main-body-content{
        position: relative;
    }
    .class-nav{
        display: none;
        width: 14rem;
        height: 100%;
    }
    .main-body-menu{
        width: 18rem;
        top: -1.5%;
    }
    .main-body-menu{
        position: absolute;
        z-index: 999;
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        top: -2.5rem;
        /* min-height: 30%; */
    }
    .nav-toggle:checked ~ .class-nav{
        display: block;
    }
    .nav-toggle{
        display: none;
    }
    .nav-toggle-label{
        position: sticky;
        padding: 1rem;
        cursor: pointer;
    }
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after{
        display: block;
        background: black;
        position: relative;
        height: 4px;
        width: 2em;
        border-radius: 2em;
    }
    .nav-toggle-label span::before,
    .nav-toggle-label span::after{
        content: "";
        position: absolute;
    }
    .nav-toggle-label span::before{
        bottom: 7px;
    }
    .nav-toggle-label span::after{
        top: 7px;
    }
    .class-nav__item {
        font-size: 0.8em;
      }
    .nav-item-system,
    .second-tab{
        font-size: 0.8rem;
    }
    .timetable-button{
        top: -2.5%;
    }
}