.Register-items {
    margin: auto auto;
    width: 40%;
    /* padding-bottom: 10%; */
}

input[type='text'], input[type='password'], input[type='email']{
    width: 100%;
    border: none;
    background-color: #46890828;
    padding: 0.5em 1rem;
    font-size: 0.9rem;
}

input[type='submit'].register-button{
    background-color: #468908;
    color: white;
    outline: none;
    border: none;
    font-size: 0.9rem;
    padding: 0.5em;
    margin-top: 5%;
    width: 100%;
}

input[type='checkbox']{
    vertical-align: text-bottom;
    margin-right: 0.5rem;
}

.Register-items__form-view{
    margin-top: 8%;
}