/* Tables
================================== */
.Rtable {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 0 2em 0;
    padding: 0;
    position: relative;
  }
.Rtable-cell {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;  
    /* // Default to full width */
    padding: 0.4em 0.8em;
    overflow: hidden; 
    /* // Or flex might break */
    list-style: none;
    border: solid 0.1px rgba(255, 255, 255, 0.108);
    background: fade(slategrey,20%);
    text-align: left;
}

/* .Rtable-cell > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; } */

/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell  { width: 50%; }
.Rtable--3cols > .Rtable-cell  { width: 33.33%; }
.Rtable--4cols > .Rtable-cell  { width: 25%; }
.Rtable--5cols > .Rtable-cell  { width: 20%; }
.Rtable--6cols > .Rtable-cell  { width: 16.6%; }

.table-title{
    border-bottom: 2px solid #468908;
}

.table-title-item{
    font-weight: bold;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.428);
}

.table-item{
    font-size: 0.8rem;
    font-weight: bold;
}

.view-user-holder__delete{
    cursor: pointer;
}

.student-display{
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    font-size: 0.8rem;
}

input[type='submit'].signup-button{
    background-color: #468908;
    color: white;
    outline: none;
    border: none;
    font-size: 0.9rem;
    padding: 0.5em;
}

.signup-time{
    font-size: 0.7rem;
    color: #E84641;
}