.video{
    position: relative;
}
.video__card-big {
    width: 100%;
    top: 0;
    padding: 2rem 2rem;
    word-wrap: break-word;
}
.video__card-big iframe{
    width: 100%;
    height: 50vh;
  }

.video-question__add input[type="text"]{
    width: 100%;
    margin-top: 1rem;
}

.question_button{
    width: 15%;
    font-size: 1rem;
    padding: 1em 1em;
    margin-top: 1% !important;
    background-color: #468908;
    border: none;
    color: white;
    padding: 10px 26px;
    text-decoration: none;
    cursor: pointer;
}

.questions__list{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

li.questions__list-item, li.questions-list-item-answers-item {
    text-align: left;
    margin: 1rem 1rem;
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    position: relative;
}

li.questions-list-item-answers-item{
    margin: none;
}

.questions-date{
   font-size: 0.8rem;
   color: rgba(0, 0, 0, 0.5);
   letter-spacing: -1%;
}

.questions__title{
    font-weight: bold;
    margin-top: 4%;
}

.questions-list-item-indicator{
    color: #468908;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}

textarea{  
    display: block;
    box-sizing: padding-box;
    overflow: hidden;
    width: 100%;
    font-size: 14px;
    margin-top: 1rem;
    padding-top: 1rem;
    box-shadow: 2px 2px 8px rgba(black, .3);
    border: none;
    border-bottom: 2px solid black;
  }

.video-answer-add textarea{
    width: 100%;
}

.icon-cancel-circle{
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    fill: #E84641;
    top: 0;
    right: 0;
    cursor: pointer;
  }

.icon-bin-question{
    position: absolute;
    width: 1em;
    height: 1em;
    fill: #E84641;
    right: 0;
    top: 2rem;
    cursor: pointer;
}

.revision-header{
    padding: 2em;
    font-size: 1rem;
    margin: initial;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

  @media only screen and (max-width: 768px) {
    .question_button{
        width: 4rem;
        font-size: 1rem;
        padding: 1.5em 1.5em;
    }
    .video__card-big {
        padding: 0;
        word-wrap: break-word;
    }
    .questions{
        padding-right: 2rem;
    }
  }