.view-holder {
    display: flex;
    align-items: left;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.view-holder__list-item {
    width: 60%;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.view-holder__delete{
    width: 10%;
    cursor: pointer;
    padding: 2%;
}

.edit-items__form-view {
    display: flex;
    flex-direction: row;
}

.edit-items__form-view input[type=submit]{
background-color: #468908;
  border: none;
  color: white;
  padding: 10px 26px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  margin: 0;
  align-self: center;
}


.view-holder .view-holder__view-items{
    flex: 1;
}