alembic==1.4.2
aniso8601==6.0.0
autopep8==1.5.2
bcrypt==3.1.7
betterpath==0.2.2
cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
Click==7.0
Flask==1.0.3
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.7
Flask-Migrate==2.5.3
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
google-api-core==1.16.0
google-api-python-client==1.8.0
google-auth==1.11.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
googleapis-common-protos==1.51.0
httplib2>=0.18.0
idna==2.9
itsdangerous==1.1.0
Jinja2==2.10.1
l==0.11.0
Mako==1.1.3
MarkupSafe==1.1.1
oauthlib==3.1.0
pkg-resources==0.0.0
protobuf==3.11.3
psycopg2-binary==2.8.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
PyJWT==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2019.1
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.0
six==1.12.0
SQLAlchemy==1.3.4
twilio==6.42.0
uritemplate==3.0.1
urllib3==1.25.9
vcversioner==2.16.0.0
Werkzeug==0.15.4
zope.interface==5.1.0
